on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # checkout the repo    
    - uses: Azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
      env:
        RUNNER_CONTEXT: ${{ az keyvault secret show --name "Active-database-url" --vault-name "parteyKeyVault" --query "value" --output tsv }}
      run: |
        echo "$RUNNER_CONTEXT"
    
        